In [1]:
import pandas as pd
import statistics as st
import numpy as nm
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('exp3.csv')

In [3]:
print(data)

        Id  MSSubClass LotFrontage  LotArea LotConfig Neighborhood BldgType  \
0     1461        20.0          80    11622    Inside        NAmes     1Fam
1     1462        20.0          ##    14267    Corner        NAmes     1Fam
2     1463        60.0          74    13830    Inside      Gilbert     1Fam
3     1464        60.0          78     9978    Inside      Gilbert       Na
4     1465       120.0          43     5005    Inside      StoneBr   TwnhsE
...    ...         ...         ...      ...       ...          ...      ...
1454  2915       160.0          21     1936    Inside      MeadowV    Twnhs
1455  2916       160.0          21     1894    Inside      MeadowV   TwnhsE
1456  2917        20.0         160    20000    Inside      Mitchel     1Fam
1457  2918        85.0          62    10441    Inside      Mitchel     1Fam
1458  2919        60.0          74     9627    Inside      Mitchel     1Fam

     HouseStyle OverallQual OverallCond  YearBuilt RoofStyle  TotalBsmtSF  \
0        1Story           5           6       1961     Gable        882.0
1        1Story           6           6       1958       Hip       1329.0
2        2Story         NaN           5       1997     Gable        928.0
3             ?           6           6       1998         #        926.0
4        1Story           8         Nan       1992     Gable       1280.0
...         ...         ...         ...        ...       ...          ...
1454     2Story           4           7       1970     Gable        546.0
1455     2Story           4           5       1970     Gable        546.0
1456     1Story           5           7       1960     Gable       1224.0
1457     SFoyer           5           5       1992     Gable        912.0
1458     2Story           7           5       1993     Gable        996.0

      GrLivArea BedroomAbvGr  TotRmsAbvGrd  GarageArea
0           896            2             5       730.0
1          1329            3             6       312.0
2          1629            3             6       482.0
3          1604            3             7       470.0
4          1280            2             5       506.0
...         ...          ...           ...         ...
1454       1092            3             5         0.0
1455       1092            3             6       286.0
1456       1224            4             7       576.0
1457        970            3             6         0.0
1458       2000            3             9       650.0

[1459 rows x 17 columns]

In [4]:
data.describe()

,Id,MSSubClass,LotArea,YearBuilt,TotalBsmtSF,GrLivArea,TotRmsAbvGrd,GarageArea
count,1459.000000,1456.000000,1459.000000,1459.000000,1458.000000,1459.000000,1459.000000,1458.000000
mean,2189.998629,58.046016,9819.161069,1971.513365,1046.117970,1486.045922,6.385195,472.768861
std,421.323607,47.185136,4955.517327,30.635748,442.898624,485.566099,1.508895,217.048611
min,1461.000000,20.000000,1470.000000,1879.000000,0.000000,407.000000,3.000000,0.000000
25%,1825.500000,20.000000,7391.000000,1953.000000,784.000000,1117.500000,5.000000,318.000000
50%,2190.000000,50.000000,9399.000000,1973.000000,988.000000,1432.000000,6.000000,480.000000
75%,2554.500000,70.000000,11517.500000,2001.000000,1305.000000,1721.000000,7.000000,576.000000
max,2919.000000,620.000000,56600.000000,2120.000000,5095.000000,5095.000000,15.000000,1488.000000

In [5]:
data.isnull().sum()

Id                0
MSSubClass        3
LotFrontage     227
LotArea           0
LotConfig         0
Neighborhood      0
BldgType          0
HouseStyle        0
OverallQual       4
OverallCond       0
YearBuilt         0
RoofStyle         0
TotalBsmtSF       1
GrLivArea         0
BedroomAbvGr      0
TotRmsAbvGrd      0
GarageArea        1
dtype: int64

In [7]:
data['Id'].unique()

array([1461, 1462, 1463, ..., 2917, 2918, 2919], dtype=int64)

In [8]:
data['Id'].nunique()

1457

In [9]:
data['HouseStyle'].unique()

array(['1Story', '2Story', '?', 'SLvl', ':-', '__', '1.5Fin', 'SFoyer',
       '2.5Unf', '1.5Unf'], dtype=object)

In [10]:
data['HouseStyle'].nunique()

10