In [8]:
import pandas as pd
import statistics as st
import numpy as nm

In [11]:
data=pd.read_csv('a.csv')

In [12]:
print(data)

         Area  BHK  Bathroom      Furnishing  \
0       800.0    3       2.0  Semi-Furnished
1       750.0    2       2.0  Semi-Furnished
2       950.0    2       2.0       Furnished
3       600.0    2       2.0  Semi-Furnished
4       650.0    2       2.0  Semi-Furnished
...       ...  ...       ...             ...
1254   4118.0    4       5.0     Unfurnished
1255   1050.0    3       2.0  Semi-Furnished
1256    875.0    3       3.0  Semi-Furnished
1257    990.0    2       2.0     Unfurnished
1258  11050.0    3       3.0     Unfurnished

                                               Locality  Parking     Price  \
0                                      Rohini Sector 25      1.0   6500000
1                J R Designers Floors, Rohini Sector 24      1.0   5000000
2                   Citizen Apartment, Rohini Sector 13      1.0  15500000
3                                      Rohini Sector 24      1.0   4200000
4     Rohini Sector 24 carpet area 650 sqft status R...      1.0   6200000
...                                                 ...      ...       ...
1254                                  Chittaranjan Park      3.0  55000000
1255                                  Chittaranjan Park      3.0  12500000
1256                                  Chittaranjan Park      3.0  17500000
1257                          Chittaranjan Park Block A      1.0  11500000
1258                                  Chittaranjan Park      1.0  18500000

             Status   Transaction           Type  Per_Sqft
0     Ready_to_move  New_Property  Builder_Floor       NaN
1     Ready_to_move  New_Property      Apartment    6667.0
2     Ready_to_move        Resale      Apartment    6667.0
3     Ready_to_move        Resale  Builder_Floor    6667.0
4     Ready_to_move  New_Property  Builder_Floor    6667.0
...             ...           ...            ...       ...
1254  Ready_to_move  New_Property  Builder_Floor   12916.0
1255  Ready_to_move        Resale  Builder_Floor   12916.0
1256  Ready_to_move  New_Property  Builder_Floor   12916.0
1257  Ready_to_move        Resale  Builder_Floor   12916.0
1258  Ready_to_move  New_Property  Builder_Floor   12916.0

[1259 rows x 11 columns]

In [15]:
st.mean(data['Area'])

1466.4527241461478

In [20]:
data.describe()

,Area,BHK,Bathroom,Parking,Price,Per_Sqft
count,1259.000000,1259.000000,1257.000000,1226.000000,1.259000e+03,1018.000000
mean,1466.452724,2.796664,2.556086,1.935563,2.130670e+07,15690.136542
std,1568.055040,0.954425,1.042220,6.279212,2.560115e+07,21134.738568
min,28.000000,1.000000,1.000000,1.000000,1.000000e+06,1259.000000
25%,800.000000,2.000000,2.000000,1.000000,5.700000e+06,6364.000000
50%,1200.000000,3.000000,2.000000,1.000000,1.420000e+07,11291.500000
75%,1700.000000,3.000000,3.000000,2.000000,2.550000e+07,18000.000000
max,24300.000000,10.000000,7.000000,114.000000,2.400000e+08,183333.000000