In [2]:
import pandas as pd

In [3]:
data = {'Name': ['Raj', 'Simran', 'Aman'],
        'Age': [25, 22, 28],
        'City': ['Amritsar', 'Ludhiana', 'Chandigarh']}

In [4]:
df = pd.DataFrame(data)
print(df)

     Name  Age        City
0     Raj   25    Amritsar
1  Simran   22    Ludhiana
2    Aman   28  Chandigarh

In [5]:
print(df)

     Name  Age        City
0     Raj   25    Amritsar
1  Simran   22    Ludhiana
2    Aman   28  Chandigarh